body {
   background-color: rgb(243, 243, 243);
   font-family: Avenir,Helvetica,Arial,sans-serif;
   font-size: 14px;
   color: #2D4054;
 }

h1, h2, h3, h4, h5 {
  margin: 0
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main, aside, header, div, ul, li, input {
  box-sizing: border-box;
}

button:focus, input:focus {
  outline: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}